
.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/16/70bebec00f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/54/c0b26309109c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/69/d08ac4c00f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/a/c02eb8c00f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/b6/7054a6c00f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/e0/805677f60f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/fc/b02c9dc00f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/.indexes/e4/b9/22/81/ba/17/dd/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/io.takari.stats.client.m2e.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/classbuilder.launch
.metadata/.plugins/org.eclipse.jdt.core/131662869.index
.metadata/.plugins/org.eclipse.jdt.core/4212195811.index
.metadata/.plugins/org.eclipse.jdt.core/852128042.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-103716.367.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.m2e.core/classbuilder.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/b9b2208bc0066e54568568faa7923d3f/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b9b2208bc0066e54568568faa7923d3f/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/b9b2208bc0066e54568568faa7923d3f/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/b9b2208bc0066e54568568faa7923d3f/write.lock
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.jdt/classbuilder.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
.sonarlint/default/.sonartmp_8579948040217225677/sonarlint-slf4j-sonar-log1385974133965048173.jar
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
classbuilder/.classpath
classbuilder/.project
classbuilder/.settings/org.eclipse.core.resources.prefs
classbuilder/.settings/org.eclipse.jdt.core.prefs
classbuilder/.settings/org.eclipse.m2e.core.prefs
