
.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/16/70bebec00f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/54/c0b26309109c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/69/d08ac4c00f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/a/c02eb8c00f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/b6/7054a6c00f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/e0/805677f60f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/fc/b02c9dc00f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/.indexes/e4/b9/22/81/ba/17/dd/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/io.takari.stats.client.m2e.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/classbuilder.launch
.metadata/.plugins/org.eclipse.jdt.core/131662869.index
.metadata/.plugins/org.eclipse.jdt.core/4212195811.index
.metadata/.plugins/org.eclipse.jdt.core/852128042.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-103716.367.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.m2e.core/classbuilder.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/b9b2208bc0066e54568568faa7923d3f/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/b9b2208bc0066e54568568faa7923d3f/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/b9b2208bc0066e54568568faa7923d3f/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/b9b2208bc0066e54568568faa7923d3f/write.lock
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.jdt/classbuilder.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
.sonarlint/default/.sonartmp_8579948040217225677/sonarlint-slf4j-sonar-log1385974133965048173.jar
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
classbuilder/.classpath
classbuilder/.project
classbuilder/.settings/org.eclipse.core.resources.prefs
classbuilder/.settings/org.eclipse.jdt.core.prefs
classbuilder/.settings/org.eclipse.m2e.core.prefs
.metadata/.mylyn/.tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/10/200e0dfa149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/14/f0b3db8b119c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/17/408b456d129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/20/70f12876219c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/21/00017a3a129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/21/10bae9ae199c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/25/704bfdc5119c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/2a/a04e0729219c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/2e/105ec356129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/34/f0a5a028139c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/3c/402202f91e9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/3c/90c95af91e9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/3e/20e4f419149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/46/a0f1a525159c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/48/70a75e76219c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/4a/d06665cd219c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/4e/10e643b3119c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/5/d07d0b00199c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/55/b0acca13149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/58/10832c35149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/5b/80760ddf119c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/5d/10507efa209c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/5d/c07c51bd129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/66/20544f29219c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/7/40d4c47c129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/70/304c1026159c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/71/007526ff189c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/73/a0471ea91d9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/75/30c98f61199c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/76/d02527fa149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/77/10911e65209c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/79/e0e4eed9209c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/7b/50b982e5149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/7b/80788c54209c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/7e/10d3315a219c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/8/60345006149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/83/90660a23129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/85/10f97462199c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/87/403afd49159c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/8a/500b5786119c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/8a/d07c1c72149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/92/a02c4143219c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/93/e00b5a93209c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/94/000b0424219c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/98/f0f7049a139c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/9c/b0006d56129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/9d/008d27ef1e9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/9d/50dd2532159c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/9e/d0807a8a129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/9f/e0190b01219c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/a2/1098ea34149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/a3/a01358911b9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/a5/209b89d7149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/a6/8081482b209c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/a7/10021882119c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/a7/f09e4d72149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/a8/c0882aae199c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/ab/5001f5dc129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/ad/709b083e119c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/b4/d0e8c8ff139c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/b8/e04faac2119c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/ba/30614c9a139c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/ba/c095f9ff139c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/be/005c3754129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/bf/206c607c1d9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/c3/20ba44341f9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/c4/60798306149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/ce/30975174129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/d/00142a6d129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/d/80985f24219c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/d1/20d4f142219c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/d5/10805d6d129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/d6/a00f404a159c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/d8/20c63510149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/db/3006bb4f139c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/e/60aa8122199c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/e/b0b98f19149c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/e3/508c7132159c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/e4/d0068554129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/e6/b02de38a129c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/e9/40c1b314219c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/f7/40651eef1e9c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/f9/60451660159c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.history/fc/f07cfdb4119c001a19d5cd69f716d7f0
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/.indexes/e4/92/22/81/ba/17/dd/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/classbuilder/.indexes/e4/b9/22/81/ba/17/dd/4a/history.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.models.rcp.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.jdt.core/1233919542.index
.metadata/.plugins/org.eclipse.jdt.core/1241298325.index
.metadata/.plugins/org.eclipse.jdt.core/1401678300.index
.metadata/.plugins/org.eclipse.jdt.core/144380394.index
.metadata/.plugins/org.eclipse.jdt.core/1845031563.index
.metadata/.plugins/org.eclipse.jdt.core/1860485910.index
.metadata/.plugins/org.eclipse.jdt.core/1873623763.index
.metadata/.plugins/org.eclipse.jdt.core/1942359185.index
.metadata/.plugins/org.eclipse.jdt.core/1943575548.index
.metadata/.plugins/org.eclipse.jdt.core/202638269.index
.metadata/.plugins/org.eclipse.jdt.core/2492909726.index
.metadata/.plugins/org.eclipse.jdt.core/2899478204.index
.metadata/.plugins/org.eclipse.jdt.core/3227056335.index
.metadata/.plugins/org.eclipse.jdt.core/3263897811.index
.metadata/.plugins/org.eclipse.jdt.core/3421068715.index
.metadata/.plugins/org.eclipse.jdt.core/3421597620.index
.metadata/.plugins/org.eclipse.jdt.core/3852737441.index
.metadata/.plugins/org.eclipse.jdt.core/531533494.index
.metadata/.plugins/org.eclipse.jdt.core/897659091.index
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-103855.090.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-104734.849.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-105820.842.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-105907.814.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-110227.114.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-110803.779.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-111033.870.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-111055.998.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-111528.581.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-111551.548.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-111629.780.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-111711.801.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-112053.989.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-113745.914.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-114431.670.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-114549.457.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-114701.319.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-114811.821.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-120015.286.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-120124.593.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-120241.329.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-120851.840.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-121519.238.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-121625.091.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-121729.991.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-122000.961.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-122637.121.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-122826.904.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-123025.862.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-123533.168.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-123714.067.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-124050.580.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-124212.087.xml
.metadata/.plugins/org.eclipse.jdt.junit.core/history/20200522-124340.044.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/10.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/11.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/classbuilder/2020/5/21/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/classbuilder/2020/5/21/refactorings.index
classbuilder/.settings/org.eclipse.jdt.ui.prefs
